/**
 * FormValidation (//formvalidation.io)
 * The best jQuery plugin to validate form fields. Support Bootstrap, Foundation, Pure, SemanticUI, UIKit and custom frameworks
 *
 * @author      https://twitter.com/formvalidation
 * @copyright   (c) 2013 - 2016 Nguyen Huu Phuoc
 * @license     //formvalidation.io/license/
 */

/* --------------
 * Support UI Kit
 * -------------- */

.fv-form-uikit .fv-control-feedback {
    top: 25px;      /* Height of UIKit label */
    width: 30px;    /* Height of UIKit input */
    height: 30px;
    line-height: 30px;
}

.fv-form-uikit .uk-text-danger {
    display: block;
}

/* UIKit horizontal form */
.fv-form-uikit.uk-form-horizontal .fv-control-feedback {
    top: 0;
}

.fv-form-uikit.uk-form-horizontal [type="checkbox"]~.fv-control-feedback,
.fv-form-uikit.uk-form-horizontal [type="radio"]~.fv-control-feedback {
    top: -7px;
}

/* Without labels */
.fv-form-uikit label.fv-sr-only~.fv-control-feedback {
    top: -7px !important;
}

/* Stacked form */
.fv-form-uikit.uk-form-stacked [type="checkbox"]~.fv-control-feedback,
.fv-form-uikit.uk-form-stacked [type="radio"]~.fv-control-feedback {
    top: 20px;
}

.fv-form-uikit .fv-has-error label,
.fv-form-uikit .fv-has-error .uk-form-label,
.fv-form-uikit .fv-has-error .fv-control-feedback {
    color: #D85030;     /* Same as .uk-form-danger */
}

.fv-form-uikit .fv-has-success label,
.fv-form-uikit .fv-has-success .uk-form-label,
.fv-form-uikit .fv-has-success .fv-control-feedback {
    color: #659F13;     /* Same as .uk-form-success */
}
